@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Khula:wght@300;400;600;700;800&family=League+Gothic&display=swap');

.alatsi-regular {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.league-gothic-regular {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.khula-regular {
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0px;
}


header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  gap: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}


[id^="whirlpool"] {
  left: -7%;
  top: -10%;
  height: 120vw;
  width: 120vw;
  background-image: url(images/whirpool.png);
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#whirlpool {
  height: 100vw;
  width: 100vw;
  z-index: -1;
  border-radius: 100%;
  animation: 100s linear 1s reverse infinite rotatethreesixty;
}

#whirlpool-bg {
  height: 120vw;
  width: 120vw;
  z-index: -2;
}
  

@keyframes rotatethreesixty {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#nametainer {
  display: flex;
}

h1 {
    font-family: "Alatsi", sans-serif;
    font-size: 430px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    margin: 0px;
}

h2 {
  font-family: "League Gothic", sans-serif;
  font-size: 100px;

}

p {
  font-family: "Khula", sans-serif;
  font-size: 25px;
}

#contact {
  display: flex;
  gap: 12px;
  font-family: "League Gothic", sans-serif;
  font-size: 26px;
}

#Resume {
  background-color: #488286;
  color: white;
  border-radius: 18px;
  text-decoration: none;
  width: 110px;
  height: 60px;
  display: flex;
}


#Email {
  background-color: #488286;
  color: white;
  border-radius: 18px;
  text-decoration: none;
  width: 110px;
  height: 60px;
  display: flex;
}

#categories {
  display: flex;
  gap: 100px;
  flex-direction: column;
  font-family: "Khula", sans-serif;
  font-size: 36px;
  align-items: flex-end;
  justify-content: center;
}

.option {
    background-color: #488286;
    color: #B7D5D4;
    border-radius: 18px;
    text-decoration: none;
    width: 202px;
    height: 64px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#upwards {
  border: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

#AboutandProjects {
  background: #305252;
  background: linear-gradient(0deg, rgba(108, 184, 184, 1) 37%, rgba(48, 82, 82, 1) 100%);  color: white;
  width: 1440px;
  height: 2030px;
  
}

#about {
  display: flex;
  height: 360px;
  gap: 70px; 
}

#projects {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}