@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Khula:wght@300;400;600;700;800&family=League+Gothic&display=swap');

.alatsi-regular {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.league-gothic-regular {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.khula-regular {
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0px;
}


header {
background-image: url(images/whirpool.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
gap: 100px;
width: 100%;
display: flex;
flex-direction: row;
}

#nametainer {
  display: flex;
}

h1 {
    font-family: "Alatsi", sans-serif;
    font-size: 430px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    margin: 0px;
}

#container {
  display: flex;
  gap: 12px;
  font-family: "League Gothic", sans-serif;
  font-size: 26px;

}

#Resume {
  background-color: #488286;
  color: white;
  border-radius: 18px;
  text-decoration: none;
  width: 110px;
  height: 60px;
  display: flex;
}


#Email {
  background-color: #488286;
  color: white;
  border-radius: 18px;
  text-decoration: none;
  width: 110px;
  height: 60px;
  display: flex;
}

#categories {
  display: flex;
  gap: 100px;
  flex-direction: column;
  font-family: "Alasti", sans-serif;
  font-size: 36px;
  align-items: flex-end;
  justify-content: center;
}

.option {
    background-color: #488286;
    color: white;
    border-radius: 18px;
    text-decoration: none;
    width: 202px;
    height: 64px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#upwards {
  border: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}
