@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Khula:wght@300;400;600;700;800&family=League+Gothic&display=swap');

.alatsi-regular {
  font-family: "Alatsi", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.league-gothic-regular {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.khula-regular {
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0px;
}

#hero {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  gap: 70px;
  width: min(100%, 100%);
  margin: auto;
  display: flex;
  flex-direction: column;
}


#whirlpool-bg {
  height: 100vw;
  width: 100vw;
  z-index: -2;
  background-image: 
  url(images/whirpool.png);
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
  
@keyframes rotatethreesixty {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#nametainer {
  display: flex;
}

#overlay {
  position: absolute;
  inset: 0;
  background:linear-gradient
  (to bottom, 
  rgba(0,0,0,.2), 
  rgba(0,0,0,.6));
  z-index: 0;
}

h1 {
  position: relative;
  font-family: "Alatsi", sans-serif;
  font-size: clamp(16rem, 12vw, 11rem);
  line-height: .9;
  letter-spacing: -6px;
  font-weight: 700;
  background: linear-gradient(to bottom, #ffffff 50%, #7dd8d6 50%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow:
  0 0 12px rgba(125,216,214,.3);
  margin: 0px;
  top: 190px;
}

h2 {
  font-family: "League Gothic", sans-serif;
  font-size: 100px;

}

h3 {
  font-family: "League Gothic", sans-serif;
  font-size: 70px; 
}

p {
  font-family: "Khula", sans-serif;
  font-size: 25px;
}

#contact {
  display: flex;
  gap: 12px;
  font-family: "League Gothic", sans-serif;
  font-size: 26px;
}

#Resume {
  background: rgba(72,130,134,.18);
  backdrop-filter: blur(12px);
  border: 1px solid
  rgba(255,255,255,.15);
  box-shadow:
  0 0 18px rgba(72,130,134,.25);
  border-radius: 18px;
  transition:
  transform .3s ease,
  background .3s ease,
  box-shadow .3s ease;
  color: #B7D5D4;
  text-decoration: none;
  width: 172px;
  height: 60px;
  font-size: 40px;
  font-family: "League Gothic", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
}


#Email {
  background-color: #488286;
  color: white;
  border-radius: 18px;
  text-decoration: none;
  width: 110px;
  height: 60px;
  display: flex;
}

#categories {
  display: flex;
  gap: 100px;
  flex-direction: column;
  font-family: "Khula", sans-serif;
  font-size: 36px;
  align-items: flex-end;
  justify-content: center;
}


section {
  position: relative;
}

.glow {
  position: absolute;
  width: 500px;
  height: 500px;
  background:
  radial-gradient(
  circle,rgba(72,130,134,.35),
  transparent 70%);
  filter: blur(80px);
  z-index: -1;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    background:
    linear-gradient(
  to bottom,
  transparent,
  rgba(0,0,0,.3));
  pointer-events: none;
}

.option {
    background: rgba(72,130,134,.18);
    backdrop-filter: blur(12px);
    border: 1px solid
    rgba(255,255,255,.15);
    box-shadow:
    0 0 18px rgba(72,130,134,.25);
    border-radius: 18px;
    transition:
    transform .3s ease,
    background .3s ease,
    box-shadow .3s ease;
    color: #B7D5D4;
    border-radius: 18px;
    text-decoration: none;
    width: 202px;
    height: 64px;
    display: flex;
    text-align: center;
    justify-content: center;
}


.option:hover {
    transform: translateY(-5px);

    background: rgba(72,130,134,.35);

    box-shadow:
    0 0 25px rgba(72,130,134,.45);
}

#upwards {
  border: none;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  border-radius: 100%;
  background: transparent;
  border-color:rgba(48, 82, 82, 1);
}

#aboutContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-row-gap: 1px;;
  color: white;
  min-height: 100vh;
  place-items: center;
  Background:
  rgb(24, 67, 86);
  backdrop-filter: blur(10px);
  border:
  1px solid rgba(255,255,255,.1);
  border-radius: 32px;
  padding: 4rem;
  box-shadow:
  0 0 30px rgba(0,0,0,.35);
}


#aboutImg {
  grid-row: span 2 / span 2;
  width: 576px;
  height: 576px;
  border-radius: 100%;
}

#projectsTainer {
  display: flex;
  flex-direction: column;
  background: rgba(48, 82, 82, 1);
  justify-content: space-between;
  margin: 0px;
}

#cardlist {
  display: flex;
  flex-direction: row;
  background: rgba(48, 82, 82, 1);
  justify-content: space-between;
  margin: 0px;
}

.project-card {
  background:
  rgba(255,255,255,.05);
  border:
  1px solid rgba(255,255,255,.08);
  padding: 2rem;
  border-radius: 24px;
  transition:
  transform .3s ease,
  box-shadow .3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 
  0 10px 40px rgba(0,0,0,.4);
}

#journey {
  background-image: url('images/galaxy.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 1008px;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns:
  repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 85px;
}

#line {
  background-color: white;
  width: 100%;
  height: 4px;
}

.timeline {
  background: linear-gradient
  (to bottom, #45AB93 78%, 
  transparent 100%);
  height: 280px;
  width: 190px;
}

#written {
  background-image: url('images/space.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

#writeContainer {
  background-color: #305252;
  width: 1229px;
  height: 842px;
  overflow: hidden;
  display: flex;
}

/* mobile */
@media (max-width: 900px){

    .hero-content{
        flex-direction: column;
        text-align: center;
    }

    h1{
        font-size: 6rem;
    }

    #categories{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}
